In [5]:
import pandas as pd
import os 
df = pd.read_csv('data/Clean_Dataset.csv')

In [6]:
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import ColumnTransformer

In [7]:
df = df.iloc[:,1:]
df

         flight source_city departure_time  ... duration days_left  price
0       SG-8709       Delhi        Evening  ...     2.17         1   5953
1       SG-8157       Delhi  Early_Morning  ...     2.33         1   5953
2        I5-764       Delhi  Early_Morning  ...     2.17         1   5956
3        UK-995       Delhi        Morning  ...     2.25         1   5955
4        UK-963       Delhi        Morning  ...     2.33         1   5955
...         ...         ...            ...  ...      ...       ...    ...
300148   UK-822     Chennai        Morning  ...    10.08        49  69265
300149   UK-826     Chennai      Afternoon  ...    10.42        49  77105
300150   UK-832     Chennai  Early_Morning  ...    13.83        49  79099
300151   UK-828     Chennai  Early_Morning  ...    10.00        49  81585
300152   UK-822     Chennai        Morning  ...    10.08        49  81585

[300153 rows x 10 columns]

In [8]:
df.isna().sum()

flight              0
source_city         0
departure_time      0
stops               0
arrival_time        0
destination_city    0
class               0
duration            0
days_left           0
price               0
dtype: int64

In [9]:
numueical_feature = [i for i in df.columns if df[i].dtype!='O']
categorycal_feature = [i for i in df.columns if df[i].dtype=='O']

In [10]:
print(numueical_feature  )
print(categorycal_feature )

['duration', 'days_left', 'price']
['flight', 'source_city', 'departure_time', 'stops', 'arrival_time', 'destination_city', 'class']

In [11]:
df.drop(columns=['price'],axis=1).columns

Index(['flight', 'source_city', 'departure_time', 'stops', 'arrival_time',
       'destination_city', 'class', 'duration', 'days_left'],
      dtype='object')

In [23]:
for i in df.columns:
    print(i,"  ",len(df[i].unique()))

flight    1561
source_city    6
departure_time    6
stops    3
arrival_time    6
destination_city    6
class    2
duration    476
days_left    49
price    12157

In [ ]:
numerical_feature = ['duration', 'days_left', 'price']
categorical_feature = [ 'source_city', 'departure_time', 'stops', 'arrival_time', 'destination_city', 'class']
num_pipeline = Pipeline(
                steps = [
                        ('imputer',SimpleImputer(strategy='median')),
                        ('scaler',StandardScaler())
                ]
            )
categorical_pipeline = Pipeline(
                steps=[
                        ('imputer',SimpleImputer(strategy='most_frequent')),
                        ('One_hot',OneHotEncoder())
                ]
            )
        

preprocessor = ColumnTransformer(
                [
                    ('num_pipeline',num_pipeline,numerical_feature),
                    ('cat_pipeline',categorical_pipeline,categorical_feature)
                ]
)

In [30]:
preprocessor.fit_transform(df)

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 3001530 stored elements and shape (300153, 1593)>

In [ ]:
df.to_csv('data/Clean_Dataset.csv',index=False)