In [70]:
import pandas as pd
import os 
df = pd.read_csv('data/Clean_Dataset.csv')

In [71]:
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import ColumnTransformer

In [72]:
df = df.iloc[:,1:]
df

       source_city departure_time stops  ... duration days_left  price
0            Delhi        Evening  zero  ...     2.17         1   5953
1            Delhi  Early_Morning  zero  ...     2.33         1   5953
2            Delhi  Early_Morning  zero  ...     2.17         1   5956
3            Delhi        Morning  zero  ...     2.25         1   5955
4            Delhi        Morning  zero  ...     2.33         1   5955
...            ...            ...   ...  ...      ...       ...    ...
300148     Chennai        Morning   one  ...    10.08        49  69265
300149     Chennai      Afternoon   one  ...    10.42        49  77105
300150     Chennai  Early_Morning   one  ...    13.83        49  79099
300151     Chennai  Early_Morning   one  ...    10.00        49  81585
300152     Chennai        Morning   one  ...    10.08        49  81585

[300153 rows x 9 columns]

In [73]:
df.isna().sum()

source_city         0
departure_time      0
stops               0
arrival_time        0
destination_city    0
class               0
duration            0
days_left           0
price               0
dtype: int64

In [74]:
numueical_feature = [i for i in df.columns if df[i].dtype!='O']
categorycal_feature = [i for i in df.columns if df[i].dtype=='O']

In [75]:
print(numueical_feature  )
print(categorycal_feature )

['duration', 'days_left', 'price']
['source_city', 'departure_time', 'stops', 'arrival_time', 'destination_city', 'class']

In [76]:
df.drop(columns=['price'],axis=1).columns

Index(['source_city', 'departure_time', 'stops', 'arrival_time',
       'destination_city', 'class', 'duration', 'days_left'],
      dtype='object')

In [77]:
for i in df.columns:
    print(i,"  ",len(df[i].unique()))

source_city    6
departure_time    6
stops    3
arrival_time    6
destination_city    6
class    2
duration    476
days_left    49
price    12157

In [78]:
numerical_feature = ['duration', 'days_left', ]
categorical_feature = [  'source_city', 'departure_time',]
num_pipeline = Pipeline(
                steps = [
                        ('imputer',SimpleImputer(strategy='median')),
                        ('scaler',StandardScaler())
                ]
            )
categorical_pipeline = Pipeline(
                steps=[
                        ('imputer',SimpleImputer(strategy='most_frequent')),
                        ('One_hot',OneHotEncoder())
                ]
            )
        

preprocessor = ColumnTransformer(
                [
                    ('num_pipeline',num_pipeline,numerical_feature),
                    ('cat_pipeline',categorical_pipeline,categorical_feature)
                ]
)

In [83]:
df_scale = preprocessor.fit_transform(df)
xx=df_scale.toarray()
import numpy as np
np.c_[xx,np.array(df)]
xx
pd.DataFrame(xx)

              0         1    2    3    4    5   ...   8    9    10   11   12   13
0      -1.397531 -1.843875  0.0  0.0  1.0  0.0  ...  0.0  0.0  1.0  0.0  0.0  0.0
1      -1.375284 -1.843875  0.0  0.0  1.0  0.0  ...  0.0  1.0  0.0  0.0  0.0  0.0
2      -1.397531 -1.843875  0.0  0.0  1.0  0.0  ...  0.0  1.0  0.0  0.0  0.0  0.0
3      -1.386407 -1.843875  0.0  0.0  1.0  0.0  ...  0.0  0.0  0.0  0.0  1.0  0.0
4      -1.375284 -1.843875  0.0  0.0  1.0  0.0  ...  0.0  0.0  0.0  0.0  1.0  0.0
...          ...       ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
300148 -0.297695  1.695692  0.0  1.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  1.0  0.0
300149 -0.250421  1.695692  0.0  1.0  0.0  0.0  ...  1.0  0.0  0.0  0.0  0.0  0.0
300150  0.223718  1.695692  0.0  1.0  0.0  0.0  ...  0.0  1.0  0.0  0.0  0.0  0.0
300151 -0.308819  1.695692  0.0  1.0  0.0  0.0  ...  0.0  1.0  0.0  0.0  0.0  0.0
300152 -0.297695  1.695692  0.0  1.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  1.0  0.0

[300153 rows x 14 columns]

In [80]:
os.path.dirname(os.getcwd())

'c:\\Users\\ExPertComputer\\myproject_ML'

In [81]:
df

       source_city departure_time stops  ... duration days_left  price
0            Delhi        Evening  zero  ...     2.17         1   5953
1            Delhi  Early_Morning  zero  ...     2.33         1   5953
2            Delhi  Early_Morning  zero  ...     2.17         1   5956
3            Delhi        Morning  zero  ...     2.25         1   5955
4            Delhi        Morning  zero  ...     2.33         1   5955
...            ...            ...   ...  ...      ...       ...    ...
300148     Chennai        Morning   one  ...    10.08        49  69265
300149     Chennai      Afternoon   one  ...    10.42        49  77105
300150     Chennai  Early_Morning   one  ...    13.83        49  79099
300151     Chennai  Early_Morning   one  ...    10.00        49  81585
300152     Chennai        Morning   one  ...    10.08        49  81585

[300153 rows x 9 columns]

In [105]:
dictt = {'thailand':20}
dictt['thailand']

20

In [82]:
df.to_csv('data/Clean_Dataset.csv',index=False)